/* Header */

:root {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

body {
    overflow-x: hidden;
    margin-top: -40px;
}

header {
    background-color: #F1F3FF;
}


/* Navigation Bar */

.navbar {
    z-index: 2;
    min-height: 8%;
    padding: 2px 0 0 1.2%;
    background-color: #F1F3FF;
    width: 100%;
    margin-top: -5px;
    margin-left: -0.9%;
    align-items: center;
}

.navbar .nav {
    padding-right: 8%;
}

.navbar img {
    padding-left:  6em !important;
}

.navbar .nav-item .nav-link {
    color: black;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.navbar .nav-item .nav-link.active {
    background-color: #5CB85F;
    border-radius: 2px;
    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.row {
    margin-top: 40px;
    padding-top: 7%;
}

.row .col h1 {
    margin-top: 60px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
}

.row .col p {
    width: 81%;
    margin-top: 20px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.row .col button {
    border: 1px solid #5CB85F;
    border-radius: 2px;
    background-color: #5CB85F;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.row .col img {
    width: 118%;
}

/* Section Form */

#form .card{
    margin-top: -4%;
    margin: -4% auto 3% auto;
    height: 107px;
    width: 88%;
    align-content: center;
    border-radius: 10px;
    border-style: none;
    box-shadow: 0 0 10px;
}

#form .card-body{
    margin-top: -11%;
    margin-inline-start: 3%;
}

#form .form-label{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #3C3C3C;
}

#form .driver-custom{
    width: 200px;
}

#form #capacity{
    width: 170px;
}

#form #driver, #form #date, #form #time, #form #capacity{
    font-family: 'Helvetica';
    height: 40px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #3C3C3C;
}

#form .btn-success{
    height: 2.8em;
    width: 100px;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin: 2.2em 0 0 -3em;
}

#form .btn-outline-success{
    height: 2.8em;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-inline-start: 59em;
    margin-top: -5em;
}

/* Section Result */

#result-form{
    width: 80%;
    margin: 0 auto;
    align-content: center;
    border-radius: 10px;
    border-style: none;
    padding-left: 6px;
    padding-right: 6px;
}

#result-form .container-md{
    padding: 0 0 0 0;
}

#result-form #cars-container .row{
    padding: 0 0 15px 0;
}

#result-form .card{
    box-shadow: 0 0 4px grey;
    border-radius: 10px;
    margin-inline-start: 12%;
    margin-bottom: 20px;
}

/* Section Our Services */

#our-services .row {
    padding: 35px 0 0 95px;
}

#our-services .row .col img {
    width: 87%;
}

#our-services .row .col h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    width: 88%;
    margin-top: 30px;
}

#our-services .row .col p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 91%;
    margin-bottom: 20px;
}

#our-services .row .col .row.lists-services {
    margin: 0 0 0 -10px;
    padding: 0 0 0 0;
}

#our-services .row .col .row.lists-services img {
    width: 9%;
    height: 9%;
}

#our-services .row .col .row.lists-services p {
    line-height: 7px;
    margin: 6px 0 25px -5px;
}


/* Section Why Us */

#why-us .row h1 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 7%;
}

#why-us .row p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10%;
}

#why-us .card {
    min-width: 250px;
    min-height: 196px;
    border: 1px solid#D0D0D0;
    border-radius: 8px;
    justify-content: center;
}

#why-us .card img {
    width: 20%;
    padding: 10px 0 20px 10px;
}

#why-us .card h5 {
    padding: 0 0 0 10px;
    margin-bottom: -10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

#why-us .card p {
    width: 100%;
    padding-left: 10px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}


/* Section Testimonial */

#testimonial h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 15%;
}

#testimonial p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: 0.7% 0 3% 0;
}

#testimonial .carouse-content {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#testimonial .carousel-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f3ff;
    padding: 3rem;
    margin: 0 16px;
    max-width: 600px;
    border-radius: 8px;
}

#testimonial .mySwiper .carousel-image img {
    width: 80px;
    height: 80px;
}

#testimonial .mySwiper .carousel-text img {
    width: 96px;
    height: 16px;
}

#testimonial .mySwiper .carousel-desc p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

#testimonial .mySwiper .carousel-desc h3 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}

#testimonial .carousel-container {
    padding-bottom: 5rem;
}

#estimonial .rating-stars {
    margin-bottom: 1rem;
}

#testimonial .carousel-button {
    position: absolute;
    z-index: 10;
    top: 280px;
}

#testimonial .carousel-button-content {
    border: 1px solid #c4c4c4;
    width: 32px;
    height: 32px;
    /* padding: 1rem; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    /* background-color: #5cb85f; */
}

/* testimonial carousel  */
.swiper-wrapper {
    margin-bottom: 3rem;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #f1f3ff;

    padding: 3rem;
    margin: 0 16px;

    max-width: 600px;
    border-radius: 8px;
}

.rating-stars {
    margin-bottom: 1rem;
}

/* carousel buttons */

.swiper-button-next::after,
.swiper-button-prev::after {
    content: url('../images/left arrow.svg') !important;
    font-size: 24px !important;
    line-height: 0 !important;
    transform: translateX(-1px) !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    z-index: 10;
    top: auto !important;
    bottom: 0 !important;
    border: 1px solid #c4c4c4 !important;
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;

    align-items: center;
    justify-content: center;
}

.swiper-button-prev {
    left: auto !important;
    right: 50% !important;
    margin: 0 1rem;
}

.swiper-button-next {
    left: 50% !important;
    right: auto !important;
    margin: 0 1rem;
    transform: rotate(180deg);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #5cb85f;
    border: none !important;
    transition: all 0.5s ease-out;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    content: url('images/left arrow white.svg') !important;
}

.filter-form {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;
}

.form-label {
    font-size: 12px;
    line-height: 18px;
}

.form-container {
    position: absolute;
    top: -50px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.form-select,
.form-control {
    border-radius: 0 !important;
}

.btn-cari-mobil-container {
    display: flex;
    align-items: flex-end;
}

.btn-cari-mobil {
    border-radius: 0 !important;
}

.car-card-container {
    margin-top: 80px;
    min-height: 50px;
}

.card {
    border: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15) !important;
    margin-top: -4rem;
    margin-bottom: 5.5rem;
    min-height: 532px;
}

.card-img-top {
    height: 190px;
    object-fit: cover;
}

.car-card-body {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-btn-container {
    position: relative;
}

.car-card-button {
    margin-top: auto !important;
    border-radius: 0 !important;
}

@media screen and (max-width: 768px) {
    .swiper-slide {
        flex-direction: column;
    }

    .carousel-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
    }

    .carousel-image {
        margin: 1rem;
    }

    .car-card-container {
        margin-top: 300px;
        min-height: 80px;
    }
}


@media screen and (min-width: 315px){
    #testimonial .carousel-button {
        top: 360px;
    }
}

@media screen and (min-width: 339px){
    #testimonial .carousel-button {
        top: 320px;
    }
}

@media screen and (min-width: 385px){
    #testimonial .carousel-button {
        top: 290px;
    }
}

@media screen and (min-width: 425px){
    #testimonial .carousel-button {
        top: 260px;
    }
}

@media screen and (min-width: 495px) and (max-width: 575px){
    #testimonial .carousel-button {
        top: 210px;
    }
}

@media screen and (min-width: 768px) and (max-width: 768px){
    #testimonial .carousel-button {
        top: 370px !important;
    }
}

@media screen and (max-width: 768px) {
    .carousel-card {
        flex-direction: column;
    }
    .carousel-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 !important;
    }
    .carousel-image {
        margin: 1rem;
    }
    .carousel-container {
        padding-bottom: 6.5rem;
    }
    .carousel-button {
        position: absolute;
        top: 425px;
    }
}


/* Section CTA Banner */

#cta-banner .row .card {
    max-width: 98%;
    min-height: 330px;
    background-color: #0D28A6;
    border-radius: 13px;
    margin-left: 1%;
}

#cta-banner .row .card-body .card-title {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    justify-content: center;
    margin-top: 4%;
    color: #FFFFFF;
    font-weight: bolder;
}

#cta-banner .row .card-body .card-text {
    font-family: 'Helvetica';
    font-style: normal;
    font-size: 14px;
    line-height: 143%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1%;
    padding: 0 28% 0 28%;
    font-weight: 100;
}

#cta-banner .row .card-body .btn {
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    min-width: 140px;
    min-height: 36px;
    background-color: #5CB85F;
    border-radius: 2px;
    margin-top: 3.5%;
}


/* Section Frequently Asked Question */

#faq {
    margin-top: 10px;
}

#faq h2 {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

#faq p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

#faq .accordion {
    z-index: 2;
    background: #FFFFFF;
    /* border: 1px solid#D4D4D4; */
    border-radius: 4px;
    margin: 0 0 2% 0;
    min-width: 89%;
}

#faq .accordion .accordion-header {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

#faq .accordion .accordion-body {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    line-height: 20px;
}

#faq .accordion-item {
    background: #FFFFFF;
    border: 1px solid#D4D4D4;
    border-radius: 4px;
    margin: 0 0 2% 2%;
    min-width: 99%;
}


/* Footer */

footer {
    clear: both;
    margin: 5% 0 3% 0;
}

footer .row p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    width: 95%;
}

footer .row ul {
    list-style: none;
    padding-top: 12%;
}

footer .row li {
    margin-bottom: 10%;
}

footer .row a {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    width: 10px;
}

footer .row .row img {
    width: 55px;
    height: 30px;
    margin-top: -6.5%;
}

footer .row #logo-custom {
    width: 100px;
    height: 34px;
}